<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div id="test_vue">
        <center>
        <!-- submit을 통하여 쓰임 용도를 정한다. -->
        <!-- class는 bootstrap에서 색상을 가져온 것이다. -->
        <!-- v-on은 vue의 약자라고 보면되고, click은 발생한 이벤트이다. 그리고 함수 이름을 선언한다. -->
        <button type="submit" class="btn btn-primary" v-on:click="test_get">GET TEST</button>
        </center>
    </div>
    <div>
        <center>
        버튼을 눌러주세요
        {{ pydata }}
        </center>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Vue Start -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        const app = new Vue({
        el: "#test_vue",
        methods: {
          test_get() {
            axios("http://localhost:8123/", {
              method: "get",
              params: {
                text: "request를 보냅니다.",
              },
            })
              .then((response) => {
                console.log("성공");
                console.log(response.data);
              })
              .catch((error) => {
                console.log("실패")
                console.log(error);
              });
          },
        },
      });
    </script>
  </body>
</html>